body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;  
}

header.startup {
	display: flex;
	align-items: center;
	background-image: url("nature.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
}

.btn {
	margin-top: 180px;
    border-radius: 23px;
    font-family: 'Montserrat', sans-serif;  	
}

.btn-danger:hover {
	border-width: 5px;
	cursor: pointer;
	font-size: 1.5em;
}